allure-pytest
allure-python-commons
async-generator
attrs
certifi
cffi
charset-normalizer
cryptography
h11
idna
iniconfig
outcome
packaging
pluggy
psycopg2-binary
py
pycparser
pyOpenSSL
pyparsing
PySocks
pytest
python-dotenv
requests
selenium
six
sniffio
sortedcontainers
tomli
trio
trio-websocket
urllib3
webdriver-manager
wsproto
